input[type=text]:focus,
input[type=time]:focus,
input[type=date]:focus {
  box-shadow: 14px 14px 14px #18191a;
  border: 2px solid #57606f;
  background: #57606f;
  color: white;
}

select{
  box-shadow: 10px 10px 10px #18191a;
  border: 2px solid #57606f;
  background: #57606f;
  color: white;
}
.file-upload{
  box-shadow: 10px 10px 10px #18191a;
  color: white;
  padding: 3px;
}
.btn-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}